@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|UnifrakturMaguntia|Unkempt&display=swap');
html,body {
  scroll-behavior: smooth;
}
ul,li,a {
	color: white;
}
nav .navbar {
	margin: 0;
	width: 95%;
}